@model websiteBANHANG.Models.Phieunhap

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phieunhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhaCC.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCC.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Maphieunhap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
