@model IEnumerable<websiteBANHANG.Models.NhapXuatTon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hanghoa.Tenhanghoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hanghoa.Tenhanghoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mahanghoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mahanghoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mahanghoa })
        </td>
    </tr>
}

</table>
